$font-size-root: 16px;
$font-main: 'Roboto Slab', serif;
$color-white: #ffffff;
$color-black: #000000;
$color-blue: #225376;
$color-background: #fde9df;
$color-orange: #f67929;
$color-darken-orange: #d84b1e;
