/* convert to css */
@charset "utf-8";
@import './variables';
@import './mixins';
@import './fonts';
@import './reset';

/* main style */
html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: $font-main;
  color: $color-white;
  overflow-x: hidden;
}

section {
  width: 100%;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: rem-calc(0 30);

  @media (max-width: 768px) {
    padding: rem-calc(0 15);
  }
}
